<!DOCTYPE html>
<html>
  <head>
    <title>ComicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1> Comics, Comics, and more Comics</h1>

  	<p class="notice"><%= notice %>
  	<p class="alert"><%= alert %>

    <% if user_signed_in? %>

      <h2> Welcome, <%= current_user.name %> ! </h2>
      <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
    <% else %> 
      <h2>Nobody logged in</h2>

    <% end %>

    <%= yield %>

    <p> Made with &hearts; at Ironhack. </p>

  </body>
</html>
