<h1> Add Concert </h1>


<%= form_for @concert do |f| %>
	<div>
	<%= f.label :artist %>
	<%= f.text_field :artist %>
	</div>
	<div>
	<%= f.label :venue %>
	<%= f.text_field :venue %>
	</div>
	
	<div>
	<%= f.label :city %>
	<%= f.text_field :city %>
	</div>
	
	<div>
	<%= f.label :date %>
	<%= f.date_field :date %>
	</div>

	<div>
	<%= f.label :price %>
	<%= f.text_field :price %>
	</div>

	<div>
	<%= f.label :description %> <br>
	<%= f.text_area :description %>
	</div>
	<%= f.button %>
<% end %>

<%= @concert.errors.full_messages %>


<br>
<footer>
	<%= link_to "Go Back", concerts_path %>
</footer>