<h3> Concerts Happening Today: </h3>
<ul>
	<% @concerts_month.each do |concert| %>
<li>
<%= link_to concert.artist, concert_path(concert) %>
</li>
<%end%>
</ul>

<h3> Concerts Happening This Month: </h3>
<ul>
<% @concerts_today.each do |concert| %>
<li>
<%= link_to concert.artist, concert_path(concert) %>
</li>
<% end %>
</ul>
<br>

<h3> Budget Fit </h3>
<p> Find a concert that fits your budget!</p>

	<%= form_tag("/search", method: "get") do %>
	  <%= label_tag(:q, "Name your price:") %>
	  <br>
	  <%= text_field_tag(:q) %>
	  <br>
	  <%= submit_tag("Search") %>
	<% end %>
<br>

<footer>
	<h4> <%= link_to "Add Concert", new_concert_path %> </h4>

	<h4> <%= link_to "View All Concerts", concerts_path%> </h4>
</footer>